<body>
  <ul class="message-list">
  
  </ul>

<div class="message-input">
  <input type="text" placeholder="Type your message here...">
  <button>Send</button>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
<link href="css/message.css" rel="stylesheet">
<script src="/socket.io/socket.io.js"></script>
<script src="/message.js"></script>