<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/index.css" rel="stylesheet">
    
</head>
<body>
    <div class="form-container">
  <form id="form-product">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">

    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" step="0.01">

    <label for="code">Code:</label>
    <input type="text" id="code" name="code">

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock">


    <label for="category">Category:</label>
    <input type="text" id="category" name="category">

    <input type="button" value="cargar nuevo producto" id="button-submit">
  </form>
</div>

    {{{ body }}}
</body>
</html>
