<body>
    <div class="error-container">
        <h1>Error de acceso</h1>
        <p>{{message}}</p>
        <a href={{url}} class="login-link">{{urlMessage}}</a>
    </div>

</body>

<link rel="stylesheet" href="/css/error.css">